asgiref==3.5.0
Django==3.2.12
django-cors-headers==3.11.0
django-filter==21.1
djangorestframework==3.13.1
importlib-metadata==4.11.3
Markdown==3.3.6
node==1.0
odict==1.8.1
plumber==1.7
pytz==2022.1
sqlparse==0.4.2
tzdata==2022.1
zipp==3.8.0
zope.component==5.0.1
zope.deferredimport==4.4
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.1.0
zope.interface==5.4.0
zope.lifecycleevent==4.3
zope.proxy==4.5.0
